<div class="user-index">
  <div class='profile'>
    <img src="<%= @user.photo %>" alt="User Photo"/>
  </div>
  <div class='name-postnumber'>
    <div><%= @user.name %></div>
    <div>
    <p class='num-post'>Number of posts: <%= @user.posts.count %></p>
    <button class='createpost-button'><%= link_to "Create post", new_user_post_path(@user) %></button>
</div>
  </div>
 
</div>

<div class='bio'>
  <%= @bio %> <br>
</div>

<div class="post-index">
  <div class="post-inner">
    <% if @recent_post.present? %>
      <% @recent_post.each_with_index do |post, index| %>
        <div>
          <div><%= link_to "Post ##{index + 1}", user_post_path(@user.id, post.id) %><br></div>
          <div>
            <p><%= post.text %></p>
            <div class="counter"> 
              <p><%= "Comments: #{post.comments.count}, " %> <%= "Likes: #{pluralize(post.likes.count, 'like')}" %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>No recent posts available.</p>
    <% end %>
  </div>

  <button><%= link_to "See all posts", user_posts_path(@user) %></button>
</div>
